 *{

    padding: 0;
    margin: 0;
}

#textcss {
     color: red;
     letter-spacing: 2px;
     word-spacing: 5px;
    /* direction: ltr;
     text-indent: 50px;*/
     text-align: center;
     text-transform: uppercase;
}
#links:hover{
    color: red;
}
/*
#links:visited{
    color: blue;
}
*/
#links{
    color: green;
    font-size: 36px;
}
